<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borsch_team.calorycounter">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.caloryCounter">
        <activity
            android:name="com.borsch_team.calorycounter.ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.borsch_team.calorycounter.ui.productEditor.ProductEditorActivity"
            android:exported="false" />
        <activity
            android:name="com.borsch_team.calorycounter.ui.formResult.FormResultActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.productSelect.ProductSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mealEditor.MealEditorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.caloryCounter.NoActionBar" />
        <activity
            android:name=".ui.startForm.StartFormActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>